:root {
  --color--primary: #2c2f33;
  --color--primary-dark: #272934;
  --color--primary-light: #3d3f49;
  --color--discord: #7289da;
  --color--discord-dark: #526fd4;
  --color--white: white;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color--primary-dark);
}

.bold {
  font-weight: bold;
}

.none {
  display: none;
}

.main-header {
  margin: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header__ul li {
  margin: 0rem 1rem;
  list-style: none;
  font-size: 0.9rem;
}

.main-header__ul a {
  text-decoration: none;
  color: var(--color--white);
}

.main-header__ul-cta {
  border-radius: 95vh;
  padding: 0.5rem 1.5rem;
  background-color: #7289da;
}

.main-header__svg {
  width: 4rem;
  cursor: pointer;
  fill: var(--color--white);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.logo__img {
  width: 1.8rem;
}

.logo__text {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  padding-left: 1rem;
  font-weight: 600;
  color: var(--color--white);
}

.hero-logo {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 1rem;
}

.hero-logo__img {
  width: 10%;
}

.hero-cta-main {
  text-align: center;
  color: var(--color--white);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-right: 32%;
  margin-left: 32%;
}

.hero-cta-para {
  text-align: center;
  color: var(--color--white);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin-right: 35%;
  margin-left: 35%;
}

.hero-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;
}

.hero-btn-container__main {
  margin: 0rem 1rem;
}

.hero-btn-container__main :hover {
  background-color: var(--color--discord-dark);
}

.hero-btn-container__main a {
  text-decoration: none;
  background-color: var(--color--discord);
  padding: 1rem 5rem;
  color: white;
}

.hero-btn-container__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0rem 1rem;
}

.hero-btn-container__sub a {
  background-color: var(--color--primary-light);
  color: white;
  padding: 1rem 4rem;
  text-decoration: none;
}

.hero-btn-container__svg {
  width: 2rem;
}

.hero-stats__text {
  text-align: center;
  color: var(--color--white);
}

@media (max-width: 650px) {
  .main-header {
    margin: 1rem 1rem;
  }
  .main-header__ul {
    display: none;
  }
  .main-header__svg {
    width: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-logo {
    margin: 3rem;
  }
  .hero-logo__img {
    width: 5rem;
  }
  .hero-cta-main {
    font-size: 1rem;
    margin: 1rem 1rem;
  }
  .hero-cta-para {
    font-size: 0.9rem;
    margin: 1rem 1rem;
  }
  .hero-btn-container {
    margin: 1rem;
    font-size: 0.9rem;
  }
  .hero-btn-container a {
    padding: 0.7rem;
  }
  .hero-btn-container-sub {
    margin: 1rem;
  }
  .hero-stats {
    font-size: 0.8rem;
  }
}

@media (max-width: 350px) {
  .main-header {
    margin: 1rem 1rem;
  }
  .main-header__ul {
    display: none;
  }
  .main-header__svg {
    width: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-logo {
    margin: 4rem;
  }
  .hero-logo__img {
    width: 5rem;
  }
  .hero-cta-main {
    font-size: 1rem;
    margin: 1rem 1rem;
  }
  .hero-cta-para {
    font-size: 0.9rem;
    margin: 1rem 1rem;
  }
  .hero-btn-container {
    margin: 1rem;
    font-size: 0.8rem;
  }
  .hero-btn-container a {
    padding: 0.7rem;
  }
  .hero-btn-container-sub {
    margin: 0rem;
  }
  .hero-stats {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=main.css.map */