///////////////////////////////////////
// Universal Styles

:root {
  --color--primary: #2c2f33;
  --color--primary-dark: #272934;
  --color--primary-light: #3d3f49;
  --color--discord: #7289da;
  --color--discord-dark: #526fd4;
  --color--white: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color--primary-dark);
}

.bold {
  font-weight: bold;
}

.none {
  display: none;
}

.container {
  margin: 1rem 3rem;
}

.current {
  background-color: #404355;
}

///////////////////////////////////////
// Main Header

.main-header {
  margin: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__nav {
    display: flex;
  }

  &__ul {
    display: flex;

    li {
      margin: 0rem 1rem;
      list-style: none;
      font-size: 0.9rem;
    }

    a {
      text-decoration: none;
      color: var(--color--white);
    }
  }

  &__ul-cta {
    border-radius: 95vh;
    padding: 0.5rem 1.5rem;
    background-color: #7289da;
  }

  &__svg {
    width: 4rem;
    cursor: pointer;
    fill: var(--color--white);
  }
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__img {
    width: 1.8rem;
  }

  &__text {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    padding-left: 1rem;
    font-weight: 600;
    color: var(--color--white);
  }
}

///////////////////////////////////////
// Menu

.menu {
  &__nav {
    font-family: "Poppins", san;
    background-color: #2e313b;
    text-align: center;
  }

  &__ul {
    li {
      font-size: 0.9rem;
      padding: 1.3rem;
      list-style: none;
    }
    a {
      text-decoration: none;
      color: var(--color--white);
    }
  }
}

///////////////////////////////////////
// Hero

.hero {
  &__logo {
    text-align: center;

    margin-top: 7rem;
    margin-bottom: 1rem;
  }

  &__logo-img {
    width: 10%;
  }

  &__cta-main {
    text-align: center;
    color: var(--color--white);
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin-right: 32%;
    margin-left: 32%;
  }

  &__cta-main--text {
  }

  &__cta-para {
    text-align: center;
    color: var(--color--white);
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin-right: 33.5%;
    margin-left: 33.5%;
  }

  &__cta-para--text {
  }

  &__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 2.5rem;
    margin-bottom: 1.5rem;
  }

  &__btn-container--main {
    margin: 0rem 1rem;

    a {
      text-decoration: none;
      background-color: var(--color--discord);
      padding: 1rem 5rem;
      color: white;
    }
  }

  &__btn-container--sub {
    display: flex;
    justify-content: center;
    margin: 0rem 1rem;

    a {
      background-color: var(--color--primary-light);
      color: white;
      padding: 1rem 4rem;
      text-decoration: none;
    }
  }

  &__stats {
  }

  &__stats--text {
    text-align: center;
    color: var(--color--white);
  }
}

//////////////////////////////////////////////////////////
// Media Querys

// --
// Desktops & Large Screens
@media (max-width: 1200px) {
  .hero {
    &__cta-main {
      margin: 1rem;
    }

    &__cta-para {
      margin: 0rem 5rem;
    }

    &__btn-container--main {
      a {
        padding: 0.8rem 4rem;
        font-size: 0.95rem;
      }
    }

    &__btn-container--sub {
      a {
        padding: 0.8rem 4rem;
        font-size: 0.95rem;
      }
    }

    &__cta-para {
      font-size: 1.1rem;
    }
  }
}

// --
// Small Screen and Laptops
@media (max-width: 1024px) {
}

// --
// iPads, Tablets
@media (max-width: 743px) {
  .main-header__nav {
    display: none;
  }
  .main-header__svg {
    display: flex;
  }

  .hero {
    &__btn-container--main {
      a {
        padding: 0.8rem 4rem;
        font-size: 0.9rem;
      }
    }

    &__btn-container--sub {
      a {
        padding: 0.8rem 3.2rem;
        font-size: 0.9rem;
      }
    }

    &__logo-img {
      width: 20%;
    }
  }
}

// --
// Mobile Devices
@media (max-width: 480px) {
  .container {
    margin: 1rem 1rem;
  }

  .main-header {
    margin: 1rem 1rem;
    justify-content: space-between;
  }

  .hero {
    &__logo {
      margin-top: 6rem;
    }
    &__logo-img {
      width: 30%;
    }
    &__cta-main {
      font-size: 0.9rem;
    }

    &__cta-para {
      margin: 1rem 1rem;
      font-size: 0.8rem;
    }

    &__btn-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 2rem;
    }

    &__btn-container--main {
      margin-bottom: 1.5rem;
      a {
        padding: 0.4rem 3.6rem;
        font-size: 0.8rem;
      }
    }

    &__btn-container--sub {
      a {
        padding: 0.5rem 2.7rem;
        font-size: 0.72rem;
      }
    }

    &__stats--text {
      font-size: 0.7rem;
    }
  }
}
